.cont {
    width: 100vw;
    height: 100vh;
    background-color: rgba(18,18,18,255);    
    display: flex;
    justify-content: center;
}
/* .large-cont { 
    display: flex;
} */

.left-cont { 
    position: fixed;
    height: 100vh;
    width: 16.5vw;
    background-color: rgba(0,0,0,255);
    border-right: solid 1px rgba(38,38,38,255);
    color: white;   
}
.feed {
    background-color: v;
    color: white;
    width: 23vw;
    height: 100vh; 
}
.storys { 
    margin-top: 2vh;
    background-color:black;
    border-radius: 10px;
    height: 119px;
    width: 470px;
    color: aqua;
    border: solid 0.5px rgba(38,38,38,255);
}
.posts { 
    background-color: black;
    margin-top: 15px;
    border-radius: 10px;
    height: 84vh;
    border: solid 0.5px rgba(38,38,38,255);
}